<script>
  $(document).on('ready turbolinks:load', function() {
    function goToByScroll(id){
         // Reove "link" from the ID
       id = id.replace("link", "");
         // Scroll
       $('html,body').animate({
           scrollTop: $("#"+id).offset().top},
           'slow');
   }

   $("#sidebar > ul > li > a").click(function(e) {
         // Prevent a page reload when a link is pressed
       e.preventDefault();
         // Call the scroll function
       goToByScroll($(this).attr("id"));
   });
 });


</script>

<div id="container">

  <div class="header" style="padding: 0px; margin: 0px; box-sizing: border-box;">
    <div class = "navbar" style="position: fixed;">
      <%= image_tag ("main_logo.png"), :class => "logo_style", :style => "float: left;"%>
      <div id="sidebar">
        <ul style="color: white;">
          <li> <a style="color: white;" id = "footerlink" href="#"> Contact Me! </a> </li>
          <li> <a style="color: white;" id = "experiencelink" href="#"> Experience </a> </li>
          <li> <a style="color: white;" id = "biolink" href="#"> About Me </a> </li>


        </ul>
      </div>
    </div>
    <div class="brandon_font" style="padding-top: 17em; font-weight: 400; font-size: 3em;">
      <h1 style="text-align: center; font-size:60px; font: inherit; color: white;"><b>  Hello! </b>  </h1>

      <div style="text-align: center; font-weight:100 !important; font-size:35px !important; font: inherit; color: white;">
        <p> My name is Shawn <br> and I'm a Full Stack Software Developer <p>
      </div>
    </div>
  </div>


  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main_title">

    <h1 style="text-align: center; font-size=30px; color: white;"><b>  Hello! </b>  </h1>

    <div style="text-align: center; font-size:25px; color: white;">
      <p> My name is Shawn <br> and I'm a Full Stack Software Developer <p>
    </div>

  </div> -->

  <div id="content">
    <div id="bio" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main_text_1 sections" style="padding: 5% 10% 5% 10%;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:4em;">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <h2> <span> About Me </span> </h2>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> </div>
      </div>
      <p style="font-size: 18px; text-align: center;">  <br> <br> I graduated from UC Berkeley in the Spring of 2018, and have
        since then been working at a recruiting agency developing their house
        platforms that replaces multiple subscription based services. I'm currently actively
        looking for new opportunities in the SF/Bay area as a Ruby on Rails developer. <br> <br>
        Outside of work, I enjoy building small scale models, the "occasional" gaming session with friends,
        and within the last few years, Skiing! And while my "interesting fact about myself" is often that I've played violin
        for 7 years of my life, I have to admit that I haven't been playing it in my free time as much as I'd
        like to say I have. But the memories I gained from playing violin in organizations, and the music I
        grew to appreciate are all things I hold close, especially when coding. Most music tends to distract me,
        silence is nice, but a hodgepodge mixture of classical tunes is where I feel most focused. So while I don't
        practice daily, or attend weekly private lessons anymore, I'd like to think I'm still a musician of sorts.

       </p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main_text_2 sections" style="padding-top: 5%; padding-left:10%; padding-right: 10%;">
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <h1 style="font-size:25px; text-align: left;"> <b> Why Computer Science? </b>  </h1>
        <p style="font-size: 18px; margin-top: 2em; margin-bottom:3%;">
          I decided to change majors in my junior year from Cognitive Science and Applied Mathematics, to
          Computer Science. After a great class about UI, where I got to develop multiple android and AWS apps,
          a summer working with an overseas client ORAM sealed the deal. <br> <br>
          Working together with 4 other students, we expanded a bare bone website to handle multiple user types
          and multiple methods of form generation/upload so they could best help LGBQT individuals escape areas of conflict.
          The loud "yes!" that I (basically) shouted after hearing the results represents the feeling I seek
          to achieve again on a daily basis. A combination of self empowerment at having created a meaningful application,
          and an overwhelming sense of appreciation to those I got to work with: Together they encapsulate why Computer Science
          has become something I hold so close to heart.
        </p>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="margin-bottom: 3em;">
        <%= image_tag ("oram.jpg"), :class => "side_image", :style => "float:right;" %>
      </div>
    </div>

    <div id="experience" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main_text_1 sections" style="padding-top: 5%; padding-left:10%; padding-right: 10%; paddng-bottom: 5%;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:5%;">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h2> <span> Here's what I've done so far </span> </h2>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:3%;">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"> </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <table width="750" border="0" cellpadding="10">

          <tr class="spaceUnder">
            <td align="center" valign="center">
              <%= image_tag ("ch_logo.png"), :style => "border-radius:25px;" %>
            </td>
            <td align="left" valign="center" style="padding-left: 4em;">
              <h3 style ="color: #37c;"> CardinalHire </h3>
              <h4 style ="color: #5e9516;"> Full Stack Software Engineer, <i> Since Fall 2018 </i> </h4>
              <h5 style ="color: #50555c;"> San Francisco, CA </h5>
              <p>
                The team I work with was created to "adopt" recruiting tools usually locked behind subscription based
                models into our own in-house platform. Since joining, I've helped develop a search engine,
                ATS, candidate and job upload/application system and more. From basic design talks with
                our designers, to changing DB tables to writing models and controller logic in Ruby on Rails.
                I've gotten to try on many hats, and can confidently contribute across all parts of the
                development cycle.
              </p>
            </td>
          </tr>

          <tr class="spaceUnder">
            <td align="center" valign="center">
              <%= image_tag ("berkeley_logo.png"), :style => "border-radius:25px; width: 15em;" %>
            </td>
            <td align="left" valign="center" style="padding-left: 4em;">
              <h3 style ="color: #37c;"> University of California, Berkeley </h3>
              <h4 style ="color: #5e9516;"> Bachelors in Computer Science, <i> earned in May 2018 </i> </h4>
              <h5 style ="color: #50555c;"> Berkeley, CA </h5>
              <p>
                My time at Berkeley was a far cry from the straight arrow path that I hoped
                for it to be. After a few blunders in my first years, I strayed from my intended path of CS.
                However, by amending certain "blunders" and devoting my time and efforts to a few upper division
                CS classes, I ended up back on track. It was through this experience that I felt like I'd made
                the greatest personal growth in my life thus far. I learned when and how to ask for help, and better
                methods of work to maintain my self motivation to achieve my goals.
              </p>
            </td>
          </tr>

          <tr class="spaceUnder">
            <td align="center" valign="center">
              <%= image_tag ("xifin_logo.jpg"), :style => "border-radius:25px;" %>
            </td>
            <td align="left" valign="center" style="padding-left: 4em;">
              <h3 style ="color: #37c;"> Xifin </h3>
              <h4 style ="color: #5e9516;"> Software Engineering Intern, <i> Summer of 2017/16 </i> </h4>
              <h5 style ="color: #50555c;"> San Diego, CA </h5>
              <p>
                Xifin provided my first opportunity to really develop in a professional context.
                I was tasked with using the Atlassian developer tools to create an in-browser button that would work
                with their Jira platform to automatically use a SQL call and submit weekly recorded team data.
                Learning to use the Atlassian developer tools and writing the proper SQL calls within the period of
                two months was a great first industry experience that I consider my contribution to the field of Computer Science.

              </p>
            </td>
          </tr>

          <tr>
            <td align="center" valign="center">
              <%= image_tag ("medimpact_logo.png"), :style => "border-radius:25px;" %>
            </td>
            <td align="left" valign="center" style="padding-left: 4em;">
              <h3 style ="color: #37c;"> Medimpact </h3>
              <h4 style ="color: #5e9516;"> Formulary Software Intern, <i> Summer of 2016 </i> </h4>
              <h5 style ="color: #50555c;"> San Diego, CA </h5>
              <p>
                As my first internship, I sought to take ownership of any and all projects thrown my way.
                By the end of my period there, I was assigned the lead of the interns within my department
                by its director, and successfully presented said assigned projects by the end of the internship
                period. It was my first bit of professional experience and experience I gained working with
                said other interns provided me invaluable team-working experience.
              </p>
            </td>
          </tr>

          </table>

        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> </div>


        </div>
      </div>


    <div id="footer" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer sections" style="text-align: center;">
      <h1 style="font-size:25px;"> <b> Let's get in touch. </b>  </h1>
      <div style="margin-top: 2em; margin-bottom: 1em;">
        <a href="https://github.com/ShawnShii"><%= image_tag ("github-sign.png"), :class => "icon" %></a>
        <a href="www.linkedin.com/in/shawnshii"><%= image_tag ("linkedin.png"), :class => "icon" %></a>
        <a href="www.facebook.com/slushmaster2000"><%= image_tag ("facebook.png"), :class => "icon" %></a>
        <div style="margin-top: 2em;">
          <p> Email: Shawnshi101@berkeley.edu <br> </p>
          <p> Phone: (858) 663-0169 </p>
        </div>
      </div>
    </div>


  </div>
</div>
